/********************************
* Board User Notes
********************************/
.note-delete {
  color: #BC0B0B;
  visibility: hidden;
}

table.widefat tr:hover .note-delete {
  visibility: visible;
}

#notes-list tr.deleting {
  background-color: #FAA;
}

#notes-list tr.adding {
  background-color: #6C6
}

/********************************
* Board Members List
********************************/
#board-members-table {
  margin-top: 20px;
}
#board-members-table .column-username {
  padding-bottom: 4px;
}