.note-delete {
  color: #BC0B0B;
  visibility: hidden;
}

table.widefat tr:hover .note-delete {
  visibility: visible;
}

#notes-list tr.deleting {
  background-color: #FAA;
}

#notes-list tr.adding {
  background-color: #6C6
}